// fonts
$titleFont: 'Montserrat';
$contentFont: 'Montserrat';
$pageFontSize: 16px;

// colors
$blue-100: #00b4d8;
$blue-200: #0096c7;
$blue-300: #0077b6;
$gray: #ccc;

// container
$containerWidth: 1200px;